<body>
	<div class="main">
		<div style="width: 100%; heigth: 100%">
 			<div class="column column1"></div>
 			<div class="column column2"></div>
 			<div class="column column3"></div>
 			<div class="column column4"></div>
 			<div class="column column5"></div>
 			<div class="column column6"></div>
 			<div class="column column7"></div>
 			<div class="column column8"></div>
 			<br style="clear: left;" />
		</div>
	</div>
</body>

<style>

body {
	background-color: black;
}

.column {
	float: left;
	width: 12.5%;
	height: 100%;
}

.column1 {
	background-color: red;
}
.column2 {
	background-color: pink;
}
.column3 {
	background-color: purple;
}
.column4 {
	background-color: blue;
}
.column5 {
	background-color: green;
}
.column6 {
	background-color: yellow;
}
.column7 {
	background-color: orange;
}
.column8 {
	background-color: black;
}
</style>
